.gameCard{
    visibility: hidden;
}

.inGameOnly{
    visibility: hidden;
}

body {
    background-color: #ecb3ff;
    font-family: 'Permanent Marker', cursive;
}   

.card-body{
    background-color: #d9d9d9;
}

.jumbotron{
    background-color: #d9d9d9;
}